<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top cw-navbar">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand fw-bold" href="index.html">Celebrity Wear</a>

    <!-- Toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#cw-navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div class="collapse navbar-collapse" id="cw-navbarNav">

      <ul class="navbar-nav mx-auto">

        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Products</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="products.html?cat=trouser">Trousers</a></li>
            <li><a class="dropdown-item" href="products.html?cat=tshirt">T-Shirts</a></li>
            <li><a class="dropdown-item" href="products.html?cat=jeans">Jeans</a></li>
            <li><a class="dropdown-item" href="products.html?cat=shirt">Shirts</a></li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" href="store.html">Store</a></li>
        <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>

      </ul>

    </div>
  </div>
</nav>
